.header{
	position:relative;
}
.header .header-backimg{
	display: block;
	width:100%;
	height:4.746667rem;
	background:url('https://app.nihaoshijie.com.cn/upload/bannertemp.e8a6fa63.jpg') no-repeat;
	background-size:cover;
}